.fillinBlock{
    padding-top: 200px;
    
}
.fillinItems{
    background-color: white;
    width:700px;
    height: 300px;
    display: grid;
    padding-top: 80px;
    grid-template-rows: 30px 50px 30px 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.fillinItems p{
    font-size: 14pt;
    width: 100px;
    height: 20px;
    color: rgba(0, 0, 0, 0.459);
}


.blockFooter{
    display: grid;
    font-size: 12px;
    grid-template-columns: 80px 150px auto;
}

.fillinItems input:not(.roundBtn){
    height: 50%;
}



/*vvvvvvvv底部白框樣式vvvvvvvv*/
@media screen and (min-width:400px){
    .fillinItems{
        width: 440px;
    }
       
    .blockFooter{
        display: grid;
        font-size: 12px;
        grid-template-columns: 80px auto;
    }
    
    .blockFooter input{
        margin: 0 auto;    
    }
}@media screen and (min-width:800px){
    .fillinItems{
        width: 700px;
        height: 300px;
    }
    .blockFooter{
        grid-template-columns: 80px 100px auto;
    }

}
/*^^^^^^^^底部白框樣式^^^^^^^^*/
